{% extends "bbq-menu.html" %}
{% block main %}
{% from "macros/restore-target-information.html" import build_target_information with context %}
{% from "macros/restore-options.html" import build_options with context %}

    <h2>Restore table</h2>
    <script type="text/javascript">
        function OnSubmitForm() {
            let params = {
                'isRestoreToSourceProject': document.getElementById('isRestoreToSourceProject').value ==='true',
                'targetDatasetId': document.getElementById('targetDatasetId').value === ''
                    ? null : document.restoreTableForm.targetDatasetId.value,
                'createDisposition': document.restoreTableForm.createDisposition.value,
                'writeDisposition': document.restoreTableForm.writeDisposition.value,
                'restorationDate': document.restoreTableForm.restorationDate.value,
                'partitionId': document.restoreTableForm.partitionId.value
            };
            let url = '/restore' +
                '/project/' + document.restoreTableForm.projectId.value +
                '/dataset/' + document.restoreTableForm.datasetId.value +
                '/table/' + document.restoreTableForm.tableId.value + "?"
                + encodeQueryData(params);
            let xhttp = new XMLHttpRequest();

            xhttp.open("GET", url, true);
            xhttp.timeout = 1000 * 3600;
            xhttp.onload = function () {
                document.getElementById("response").innerHTML = JSON.stringify(JSON.parse(xhttp.responseText),
                    undefined, 2);
                makeUrlsClickable();
            };
            xhttp.ontimeout = function (e) {
                document.getElementById("response").innerHTML = "Request timeout: " + e;
            };

            console.log(url);
            xhttp.send();

            return false;
        }
    </script>

    <p class="lead">
        This form restores single non-partitioned table or single partition. In
        case of restoring multiple partitions from partitioned table, you need
        to submit this form for every partition which you want to restore.
    </p>

    <form name="restoreTableForm" onsubmit="return OnSubmitForm();">
        <div class="form-group row">
            <div class="col">
                <h4>Source table information</h4>
            </div>
        </div>
        <div class="form-group row">
            <label for="sourceProjectId" class="col-sm-2 col-form-label">
                Source project id
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="sourceProjectId"
                       name="projectId" placeholder="project id" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="sourceDatasetId" class="col-sm-2 col-form-label">
                Source dataset id
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="sourceDatasetId"
                       name="datasetId" placeholder="dataset id" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="sourceTableId" class="col-sm-2 col-form-label">
                Source table id
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="sourceTableId"
                       name="tableId" placeholder="table id" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="sourcePartitionId" class="col-sm-2 col-form-label">
                Source partition id
            </label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="sourcePartitionId"
                       name="partitionId" placeholder="partition id">
                <small id="sourcePartitionIdHelp" class="form-text text-muted">
                    Valid and required for partitioned tables only. Partition
                    id of original table. If specified, only this single
                    partition will be restored
                </small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <h4>Target table information</h4>
            </div>
        </div>
        {{ build_target_information() }}

        {{ build_options() }}
        <div class="form-group row">
            <label for="restorationDate" class="col-sm-2 col-form-label">
                Restoration date
            </label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="restorationDate"
                       name="restorationDate">
                <small id="restorationDateHelp" class="form-text text-muted">
                    <b>Optional.</b> BBQ will restore the
                    most recent version of backup on given date. Default value
                    is today
                </small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">
                    Restore table
                </button>
            </div>
        </div>
    </form>

    <br><strong>Response:</strong> <br>
    <pre id="response"></pre>

{% endblock %}