{% extends "base.html" %}
{% block body %}

<h2>Restore table</h2>
<script type="text/javascript">
  function OnSubmitForm() {
    var params = {
      'targetDatasetId': document.restoreTableForm.targetDatasetId.value,
      'restorationDate': document.restoreTableForm.restorationDate.value,
      'partitionId': document.restoreTableForm.partitionId.value
    };

    var url = '/restore' +
        '/project/' + document.restoreTableForm.projectId.value +
        '/dataset/' + document.restoreTableForm.datasetId.value +
        '/table/' + document.restoreTableForm.tableId.value + "?"
        + encodeQueryData(params);

    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", url, true);
    xhttp.timeout = 1000 * 3600;

    xhttp.onload = function () {
      document.getElementById("response").innerHTML = JSON.stringify(JSON.parse(xhttp.responseText),
          undefined, 2);
      makeUrlsClickable();
    };
    xhttp.ontimeout = function (e) {
      document.getElementById("response").innerHTML = "Request timeout: " + e;
    };
    console.log(url);
    xhttp.send();
    return false;
  }
</script>

<form name="restoreTableForm" onsubmit="return OnSubmitForm();">
  Source project id<span style="color: red;">*</span>:<br><input type="text" name="projectId" value="" required><br>
  Source dataset id<span style="color: red;">*</span>:<br><input type="text" name="datasetId" value="" required><br>
  Source table id<span style="color: red;">*</span>:<br><input type="text" name="tableId" value="" required><br>
  Source table partition id:<br><input type="number" min="9999999" max="100000000"
                                       name="partitionId" value=""><br>
  Target dataset id:<br><input type="text" name="targetDatasetId" value=""><br>
  Restoration date:<br><input type="date" name="restorationDate" value=""><br>
  <span style="color: red;">*</span> - required fields
  <br>
  <input type="submit" value="Submit">
</form>

<br><strong>Response:</strong> <br>
<pre id="response"></pre>

{% endblock %}